* {
    box-sizing: border-box;
}

.container {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    padding-top: 100px;
}

.hero__container {
    text-align: center;
    padding: 40px;
    border: 1px solid grey;
    border-radius: 10px;
}

.hero__form {
    margin-bottom: 20px;
}

.hero__result {
    display: inline-block;
    margin: 0;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2px 10px;
}